html.
    <div data-ng-controller="IndexController">
    <section id="services" style="background:#7caaff;background-color:black; padding-top:65px;padding-bottom:120px;  background-image: url('img/slide1.jpg');background-attachment: fixed; background-position:center; background-attachment: fixed;">
        <div class="container">/
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading;" style="color:white;">เมนูหลัก</h2>
                </div>
            </div>
            <br>
            <div class="row text-center col-sm-12"  style="margin:0px;padding:0;">
                <button data-ng-click="redirectToSearch()" class="col-md-4 button_big" ng-mouseover="changeService(this,'hirepeople.jpg')" ng-mouseleave="hoverActive=false" ng-style="hoverActive ? {'background-color': 'white'} : {}" >
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="service-heading">ค้นหางาน</h4>
                    <p class="text-muted">เว็บไซต์ของเรามีงานจากบริษัทกว่า200 งานรอคุณอยู่ หากคุณต้องการที่จะหางาน สามารถค้นหางานได้ที่นี</p>
                </button>
                  <button data-ng-click='redirectToEditProfile()' class="col-md-4 button_big" ng-mouseover="changeService1(this,'createprofile.jpg')" ng-mouseleave="hoverActive1=false" ng-style="hoverActive1 ? {'background-color': 'white'} : {}" >
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="service-heading">แก้ไขโปรไฟล์</h4>
                    <p class="text-muted">คุณสามารถดูหรือแก้ไขโปรไฟล์ของตัวเองได้ที่นี่
                    <br><br>
                    </p>    
                </button>
                  <button data-ng-click='redirectToSocial()' class="col-md-4 button_big" ng-mouseover="changeService2(this,'hirepeople.jpg')" ng-mouseleave="hoverActive2=false" ng-style="hoverActive2 ? {'background-color': 'white'} : {}">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="service-heading">สื่อสังคมออนไลน์</h4>
                    <p class="text-muted">คุณสามารถโพสต์เรื่องราวเกี่ยวกับการทำงาน และสามารถสนทนาแบบส่วนตัวกับผู้พิการด้วยกัน</p>
                </button>
            </div>
        </div>
        

        <!-- รูปบริการต่างๆ -->
        <div class="container">

               <div id="service_img" style="padding:50px;background-image: url('images/findwork.jpg');background-size: 100%;background-position: center;  border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;height:350px">

               </div>

        </div>


    </section>
    <section>
    <div class="container" style="padding:100px;background-color:white;">
    <div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">เป้าหมาย</h2>
    </div>
    </div>
    <br>
    <div class="row text-center col-sm-12">
    <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="images/icon_obj_1.png" />
            </span>
        <br>
        <br>
        <h4 class="service-heading">พัฒนาความสามารถ</h4>
        <p class="text-muted">เพื่อพัฒนาความสามารถของคนพิการเพื่อเพิ่มโอกาสในการทำงานให้มากขึ้น</p>
    </div>
    <div class="col-md-4">
            <span class="fa-stack fa-4x">
                 <img src="images/icon_obj_2.png" width="119" high="118" />

            </span>
        <br>
        <br>
        <h4 class="service-heading">คนพิการมีงาน</h4>
        <p class="text-muted">เพื่อให้คนพิการมีงานที่ตรงตามความต้องการและความสามารถของตนเอง</p>
    </div>
    <div class="col-md-4">
            <span class="fa-stack fa-4x">
                 <img src="images/icon_obj_3.png" width="119" high="118" />
                <br>
            </span>
        <br>
        <br>
        <h4 class="service-heading">จ้างงานคนพิการ</h4>
        <p class="text-muted">เพื่อให้ผู้ประกอบการได้ร่วมงานกับคนพิการที่มีความสามารถและมีคุณภาพสูง</p>
    </div>
    </div>
    </div>
    </section>
    </div>