html.
  <div data-ng-controller="AuthenticationController" class="login-form">
    <form data-ng-submit="signin()">
      

      <div class="login-label"> เข้าสู่ระบบด้วยชื่อผู้ใช้และรหัสผ่าน</div>
      <div class="form-group">
        <input type="text" placeholder="ชื่อผู้ใช้" data-ng-model="credentials.username" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="password" placeholder="รหัสผ่าน" data-ng-model="credentials.password" class="form-control"/>
      </div>

      <div class="form-group text-right">
        {{error}}          <button type="submit" class="btn btn-default">เข้าสู่ระบบ</button>
      </div>
    </form>
  </div>