html.
  <div data-ng-controller="AuthenticationController" class="login-form">
    <form data-ng-submit="signin()">
      

      <div class="login-label"> Log in with your username</div>
      <div class="form-group">
        <input type="text" placeholder="Username" data-ng-model="credentials.username" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" data-ng-model="credentials.password" class="form-control"/>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-default">Log in</button>
      </div>
    </form>
  </div>