h3.pageName{
  color: #777;
  font-family: 'ThaiSans Neue';
  font-weight: bold;
  padding: 3px 0px 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #777; 
}

.profile .detail .DashboardProfileCard-avaterLink {
  background-color: #fff;
  border-radius: 6px;
  margin: -30px 0 0 8px;
  padding:1px;
  vertical-align: bottom; 
}

.profile .detail.u-inlineBlock {
  display: inline-block !important;
  max-width:100%;
}

.post {
  top: 70px;
  left: 240px;
  width: 600px;
  height: 210px;
  background-color: #cceef8; 
}

#column-1 {
  left: 0px;
  top: 0px;
  background: #cceef8;
  width: 100%;
  height: 100px;
  border-radius: 3px/3px;
  font-size: 15px;
  font-family: verdana;
  color: #1b6192;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.DashboardProfileCard-avartarImage {
  border-radius: 7px;
  height:72px;
  width:72px;
  border:2px solid #fff;
  box-sizing:border-box;
  color: #fff;
}

.title-label {
  color:black;
  padding:2px 0px 3px;
  border-bottom:1px solid #777;
  margin-bottom:15px;
  font-weight: bold; 
}

.container.body {
  padding-top: 60px;
  width: 1190px;
}

.left-panel {
  width: 290px;
  float: left;
}

.main-panel {
  width: 590px;
  float: left;
  margin: 0 20px;
  padding-left: 10px;
}

.profile {
  font-size: 1.4rem;
}

.profile .header {
  padding: 10px 5px 10px 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #9e9e9e;
  background-color: #d0f7f7;
  height: 96px;
}

.profile .header a {
  color: black;

}

.profile .header .profile-pic{
  width: 73px;
  height: 73px;

}

.profile .header .name {
  font-size: 2em;
}

.profile .detail {
  border: 1px solid #9e9e9e;
  background-color: #fff;
  padding: 5px;
}

.profile .action {
  border: 1px solid #9e9e9e;
  border-top: 0px;
  background-color: #5d5d5d;
  padding: 10px;
}

.profile .last-section {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.profile .col {
  display:inline-block;
  width: 32%;
  padding-left: 2px;
  padding-top: 5px;
}

.profile .col .text {
  font-size: 1.2em;
  color: #00bff3;
}

.profile .col .number {
  font-size: 1.2em;
}

.new-tweet.first-item,
.tweet.first-item {
  border: 1px solid #9e9e9e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: auto;
}

.new-tweet {
  padding: 10px 10px;
  background-color: #d0f7f7;
  border: 1px solid #00acda;
  border-top: 0;
}

.tweet {
  padding: 10px 10px;
  border: 1px solid #9e9e9e;
  border-top: 0;
  background-color: #fff;
}

.tweet a {
  text-decoration: none;
}

.tweet a:hover .name {
  color: black;
}

.tweet .name {
  color: black;
  font-weight: bold;
  display: inline;
  font-size: 1.1em;
}

.tweet .screen-name {
  color: black;
  display: inline;
}

.tweet .tweet-text {
  color: black;
}
.tweet-pic {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 15px;

}
.tweet-preview {
  width: 100%;
  height: 100%;
  background-color:#eef4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.camera {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  background-image: url(../../../img/camera1.png);
}

.action .reply,
.action .retweet {
  display:inline-block;
  margin: 5px 0px 0px 0px;

  border-radius: 50%;
  padding: 0.1em;
  width: 2em;
  height: 2em;
  line-height: 1.8em;
  border: 1px solid #e4e4e4;
  text-align: center;
}

.action .reply:hover,
.action .retweet:hover {
  color: #bbdd8c;
  cursor: pointer;
  border: 1px solid #bbdd8c;
}

.action .reply:active,
.action .retweet:active {
  color: #628a2c;
  cursor: pointer;
}

.modal-dialog .text-area-wrapper {
  margin-bottom: 10px;
}

.modal-dialog .text-area {
  border: 1px solid #9e9e9e;
  background-color: #5d5d5d;
}

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #9e9e9e;
    padding: 20px 30px;
    margin: 100px auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login-form .logo {
    font-size: 2em;
    margin-bottom: 20px;
    color: #00bff3;
}

.login-form .login-label {
  text-align: center;
  margin: 20px auto;
}

.signup-form {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #9e9e9e;
    padding: 20px 30px;
    margin: 50px auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.signup-form .logo {
    font-size: 2em;
    margin-bottom: 20px;
    color: #00bff3;
}

.retweeted {
  color: #b1b1b1;
}

body {
  background-image: url('../../../img/bg.png');;
  color: black;
  display: block;
}

.thumb{
    width:100px;
    height: 100px;
    margin:10px;
    float:left;
}

.uploader{
    clear:both;
}
.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
}
.img-wrap:hover .close {
    opacity: 1;
}
.test {
  margin: 50px auto; 
  width: 100%; 
  max-width: 500px;
}
.blackwhite, .blackwhite:focus{
  background-color: black !important;
  color: white !important;
  background-image: none; 
}
.blackyellow, .blackyellow:focus {
  background-color: black !important;
  color: yellow !important;
  background-image: none; 
}
.whiteblack, .whiteblack:focus{
  background-color: white;
  color: black;
  border-color: black;
}

.btn-circle {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 0;
  border-radius: 20px;
}
.font-small {
  font-size: 12px;
}

.font-medium {
  font-size: 14px;
}

.font-large {
  font-size: 16px;
}

/* theme blackwhite */
.blackwhite .ng-scope .navbar, 
.blackwhite .ng-scope .container .signup-form,
.blackwhite .ng-scope.login-form {
  background-color: black ;
  color: white ;
}
.blackwhite .ng-scope .container .pageName,
.blackwhite .ng-scope .container .signup-form .title-label,
.blackwhite .ng-scope .container .collapse .nav .ng-scope {
  color: white ;
}
.blackwhite .ng-scope .container .signup-form .col-md-4 .form-control,
.blackwhite .ng-scope .login-form .form-group .form-control {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 4px
}
.blackwhite .ng-scope .w3-container .w3-row .w3-col .w3-card-2 {
  color: white !important;
  background-color: black !important;
  border: 1px solid white !important;
  border-radius: 4px !important;
}
.blackwhite .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .fa {
  color: white !important;
}
.blackwhite .ng-scope .w3-container .w3-row .w3-col .w3-row-padding 
.form-horizontal .w3-col .w3-card-2 .w3-container .form-control {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 4px
}
.blackwhite .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .input-group .input-group-btn .btn {
  background-color: black;
  border: 1px solid white;
  border-radius: 4px
}
.blackwhite .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .input-group .form-control  {
  background-color: black !important;
  color: white !important;
}
.blackwhite .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .fa {
  color: white !important;
}
.blackwhite .ng-scope .w3-container .w3-row .w3-row-padding .form-horizontal .w3-col .w3-card-2 .w3-container .tweet-preview {
  background-color: black;
  border: 1px solid white;
}

/* theme blackyellow */
.blackyellow .ng-scope .navbar, 
.blackyellow .ng-scope .container .signup-form,
.blackyellow .ng-scope.login-form {
  background-color: black ;
  color: yellow ;
  border-color: yellow;
}
.blackyellow .ng-scope .container .pageName,
.blackyellow .ng-scope .container .signup-form .title-label,
.blackyellow .ng-scope .container .collapse .nav .ng-scope {
  color: yellow ;
}
.blackyellow .ng-scope .container .signup-form .col-md-4 .form-control,
.blackyellow .ng-scope .login-form .form-group .form-control {
  color: yellow;
  background-color: black;
  border: 1px solid yellow;
  border-radius: 4px;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
.blackyellow .ng-scope .w3-container .w3-row .w3-col .w3-card-2 {
  color: yellow !important;
  background-color: black !important;
  border: 1px solid yellow !important;
  border-radius: 4px !important;
}
.blackyellow .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .w3-tag,
.blackyellow .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .fa {
  color: yellow !important;
}
.blackyellow .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .col-sm-12 {
  background-image: url();
}
.blackyellow .ng-scope .w3-container .w3-row .w3-col .ng-scope .w3-container .w3-button {
  color: yellow !important;
} 
.blackyellow .ng-scope .w3-container .w3-row .w3-col .w3-row-padding 
.form-horizontal .w3-col .w3-card-2 .w3-container .form-control {
  color: yellow;
  background-color: black;
  border: 1px solid yellow;
  border-radius: 4px
}
.blackyellow .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .input-group .input-group-btn .btn {
  background-color: black;
  border: 1px solid yellow;
  border-radius: 4px
}
.blackyellow .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .input-group .form-control  {
  background-color: black !important;
  color: yellow !important;
  border: 1px solid yellow;
}
.blackyellow .ng-scope .w3-container .w3-row .w3-row-padding .form-horizontal .w3-col .w3-card-2 .w3-container .tweet-preview {
  background-color: black;
  border: 1px solid yellow;
}
.blackyellow .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container hr {
  border-top: 1px solid yellow;
}
.blackyellow .ng-scope .w3-container .w3-row .w3-col .ng-scope .w3-container h5 hr {
  border-top: 1px solid yellow;
}
.blackyellow .ng-scope .container .signup-form .col-md-4 .form-control ::-webkit-input-placeholder{
  color: yellow;
}

/*font small*/
.fontsmall .ng-scope .navbar, 
.fontsmall .ng-scope .container .signup-form,
.fontsmall .ng-scope .container .signup-form .ng-valid .col-md-4 .form-control,
.fontsmall .ng-scope.login-form,
.fontsmall .ng-scope.login-form .ng-valid .form-group .form-control {
  font-size:12px;
}
.fontsmall .ng-scope .navbar .container  .collapse .navbar-form .btn,
.fontsmall .ng-scope.login-form .ng-valid  .form-group .btn {
  font-size: 12px ;
}
.fontsmall .ng-scope .container .pageName {
  font-size: 22px ;
}
.fontsmall .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container h2 {
  font-size: 28px ;
}
.fontsmall .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container h5{
  font-size: 16px ;
}
.fontsmall .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container p {
  font-size: 13px ;
}
.fontsmall .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .input-group .form-control {
  font-size: 12px ;
}
.fontsmall .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .w3-tag {
  font-size: 10px !important;
}
.fontsmall .ng-scope .w3-container .w3-row .w3-row-padding .form-horizontal .w3-col .w3-card-2 .w3-container,
.fontsmall .ng-scope .w3-container .w3-row .w3-row-padding .form-horizontal .w3-col .w3-card-2 .w3-container .form-control  {
  font-size: 12px !important;
}
.fontsmall .ng-scope .w3-container .w3-row .w3-col .ng-scope .w3-container h3 {
  font-size: 22px ;
}
.fontsmall .ng-scope .w3-container .w3-row .w3-col .ng-scope .w3-container  h5 {
  font-size: 16px ;
}

/*font large*/
.fontlarge .ng-scope .navbar, 
.fontlarge .ng-scope .container .signup-form,
.fontlarge .ng-scope .container .signup-form .ng-valid .col-md-4 .form-control,
.fontlarge .ng-scope.login-form,
.fontlarge .ng-scope.login-form .ng-valid .form-group .form-control {
  font-size:16px;
}
.fontlarge .ng-scope .navbar .container  .collapse .navbar-form .btn,
.fontlarge .ng-scope.login-form .ng-valid  .form-group .btn {
  font-size: 16px ;
}
.fontlarge .ng-scope .container .pageName {
  font-size: 26px ;
}
.fontlarge .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container h2 {
  font-size: 32px ;
}
.fontlarge .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container h5{
  font-size: 20px ;
}
.fontlarge .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container p {
  font-size: 17px ;
}
.fontlarge .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .input-group .form-control {
  font-size: 16px ;
}
.fontlarge .ng-scope .w3-container .w3-row .w3-col .w3-card-2 .w3-container .w3-tag {
  font-size: 14px !important;
}
.fontlarge .ng-scope .w3-container .w3-row .w3-row-padding .form-horizontal .w3-col .w3-card-2 .w3-container,
.fontlarge .ng-scope .w3-container .w3-row .w3-row-padding .form-horizontal .w3-col .w3-card-2 .w3-container .form-control  {
  font-size: 16px !important;
}
.fontlarge .ng-scope .w3-container .w3-row .w3-col .ng-scope .w3-container h3 {
  font-size: 26px ;
}
.fontlarge .ng-scope .w3-container .w3-row .w3-col .ng-scope .w3-container  h5 {
  font-size: 20px ;
}