html.
  <div data-ng-controller="FeedController">
    <div class="container body">
      <div class="left-panel">
        <div class="profile">
          <div class="header">
          <a data-ui-sref="me">
              <div class="name">{{ profile.name }}</div>
          </a>
          <a data-ui-sref="me">
              <div class="screen-name">@{{ profile.screenName }}</div>
          </a>
          </div>
          <!-- /.header-->
          <div class="detail last-section">
          <!--<a class="DashboardProfileCard-avatarLink u-inlineBlock" title="Beamnedict" tabindex="-1" aria-hidden="true" rel="noopener" >
          <img class="DashboardProfileCard-avatarImage js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/378800000482049918/d7b7493e9066f7df82d90c112a0c0501_bigger.jpeg">
          </a>-->
            <div class="col">
              <div class="text">Post</div>
              <div class="number">{{ profile.tweetCount }}</div>
            </div>
            <div class="col">
              <div class="text">Followers</div>
              <div class="number">{{ profile.followerCount }}</div>
            </div>
            <div class="col">
              <div class="text">Following</div>
              <div class="number">{{ profile.followingCount }}</div>
            </div>
          </div>
         
        
         hh
           <div >
          <form ng-submit="submit()">
            <legend>Upload a new file here:</legend>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" ng-model="upload.name" required/>
            <br/>
            <label for="file">File:</label>
            <input type="file" name="file" id="file" ng-model="upload.file" ngf-select ngf-max-size="25MB" required/>
            <br/>
            <input type="submit" value="Submit"/>
          </form>

          <h2>All uploads are here:</h2>
          <ul>
            <li ng-repeat="upload in uploads">
              <p>{{upload.name}}</p>
              <a ng-href='{{upload.file.path + "/" + upload.file.originalname}}'>{{upload.file.originalname}}</a>
            </li>
          </ul>
        </div>
           <!-- <iframe width="854" height="480" src="https://www.youtube.com/embed/yAvpq98sAx0" frameborder="0" allowfullscreen></iframe>-->


         
          <!-- /.detail-->
        </div>
        <!-- /.border-box .profile-->
      </div>
      <div class="main-panel">
        <div class="new-tweet first-item">
          <form class="form-horizontal">
            <div id="column-1" class="post">
              <div class="tweet-text" style="height: 100px; width:538px;">
                  <input class="form-control" style="height: 100px; width:538px;" id="tweetText" type="text" placeholder="What's happening" data-ng-model="tweetText"/>

                
                  <!--<div ng-repeat="step in stepsModel">
                    <img class="thumb" ng-src="{{step}}" controls></img>
                   
                  </div>
                  <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />-->
                  
              
                  <input class="form-control" style="height: 100px; width:538px;" id="tweetPic" type="text" placeholder="pic" data-ng-model="tweetPic"/>
                </div>
            </div>
            <br><br>
            <div class="form-group" style="margin-bottom: 1px;">
                <div class="col-sm-2" style="float:right;">
                  <input class="btn btn-default" type="button" value="Post" data-ng-click="postTweet(tweetText, profile.name, profile.screenName)"/>
                </div>
            </div>
          </form>
        </div>
        <div class="tweet" data-ng-repeat="tweet in timeline | orderBy: '-tweetTime'"><a href="user.jade">
            <div class="name">{{ tweet.name }}</div>
            <div class="screen-name"> @{{ tweet.screenName }}</div></a>
            <div class="tweet-text">{{ tweet.tweetText }}</div>
            <div class="tweet-text">{{ tweet.tweetPic }}</div>
            <div class="action">
            <div class="reply" data-ng-click="replyTo(tweet.screenName)"><i class="fa fa-reply"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>