html.
  <div class="w3-container w3-content blackwhite" style="max-width:1400px;margin-top:50px " data-ng-controller="FeedController"> 
  <br>   
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card-2 w3-round w3-white">
          <div class="w3-container">
           <h2  class="w3-center">{{ profile.name }}</h2>
           <p class="w3-center"><img ng-src="{{ profile.userpicture }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
           <h5  class="w3-center">@{{ profile.screenName }}</h5>
           <hr>
           <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>งานปัจจุบัน</p>
           <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>การศึกษา</p>
           <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>วันเกิด</p>
          </div>
        </div>
        <br>
      

        <div class="w3-card-2 w3-round w3-white ">
          <div class="w3-container">
          <br>
            <div style="width:100%;" class="input-group add-on">
              <input ng-model="query" style="width:100%;" class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
            <br>
              <p>คำค้นหาที่แนะนำ</p>
              <p>
                <span class="w3-tag w3-small w3-theme-d5">KFC</span>
                <span class="w3-tag w3-small w3-theme-d4">งาน</span>
                <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                <span class="w3-tag w3-small w3-theme-d2">Games</span>
                <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                <span class="w3-tag w3-small w3-theme">Games</span>
                <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                <span class="w3-tag w3-small w3-theme-l2">Food</span>
                <span class="w3-tag w3-small w3-theme-l3">Design</span>
                <span class="w3-tag w3-small w3-theme-l4">Art</span>
                <span class="w3-tag w3-small w3-theme-l5">Photos</span>
              </p>
          </div>
        </div>
        <br>
      <!-- End Left Column -->
      </div>
      
      <!-- Middle Column -->
      <div class="w3-col m7">
      
        <div class="w3-row-padding">
        <form name="myForm" class="form-horizontal" ng-submit="submit()">
          <div class="w3-col m12">
            <div class="w3-card-2 w3-round w3-white">
              <div class="w3-container w3-padding">

                <textarea class="form-control" style="height: 100px;" id="tweetText" type="text" placeholder="What's happening" data-ng-model="tweetText"></textarea>
                <div class="tweet-preview" ng-hide="files == null && video == null" >
                      <div class="img-wrap" ng-repeat="f in files" style="font:smaller">
                        <span class="close" ng-click="remove(f)" ng-show="f">&times;</span>
                        <img class="thumb" ngf-thumbnail="f || '/thumb.jpg'"></img>
                      </div>
                      <div ng-repeat="picFile in video" style="font:smaller">
                        <video ngf-thumbnail="picFile" class="thumb">
                      </div>
                </div>
                <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                    
                  <div style="padding-left:0px; padding-top:5px;" class="col-sm-12">
                    <img type="file" class="camera"  src="img/camera.png" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="10MB" > เพิ่มรูปภาพ</img>
                    <img class="camera"  src="img/video.png" ngf-select="uploadVideo($files, $invalidFiles)" ng-model="picFile"  accept="video/*" ngf-max-height="1000" ngf-max-size="800MB" > เพิ่มวิดีโอ</img>
                  </div>
                  <br><br>
                <button style="float: right;" type="button" class="w3-button w3-theme" data-ng-click="postTweet(tweetText, profile.name, profile.screenName, profile.userpicture)"><i class="fa fa-pencil"></i>  Post</button> 
              </div>
            </div>
          </div>
          
        </div>


        <div  data-ng-repeat="tweet in timeline | orderBy: '-tweetTime' | filter:query ">
          <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
            <img ng-src="{{ tweet.screenPicture }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height:80px">

            <h3><a href="user.jade">{{ tweet.name }}</a></h3>
            <h5>@{{ tweet.screenName }}<h5>
            <hr class="w3-clear">
            <div class="tweet-text">{{ tweet.tweetText }}</div>

              <div class="w3-row-padding" style="margin:0 -16px">
                <div  ng-repeat="pic in tweet.tweetPic">
                  <img class="tweet-pic" ng-src='{{pic}}'></img>
                </div>
                <div ng-repeat="vid in tweet.tweetVid">
                <video class="tweet-pic" ng-src="{{vid}}" controls>
                     
                </video>
              </div>
              </div>
              <br>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" data-ng-click="replyTo(tweet.screenName)"><i class="fa fa-comment"></i> Reply</button> 
            
            </form>
          </div>
        </div>

        <div  data-ng-repeat="tweet in tweets | orderBy: '-tweetTime' | filter:query" data-ng-class="{'first-item' : $first}">
          <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
          <img ng-src="{{ tweet.screenPicture }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height:80px">

            <h3><a href="user.jade">{{ tweet.name }}</a></h3>
            <h5>@{{ tweet.screenName }}<h5>
            <hr class="w3-clear">
            <div class="tweet-text">{{ tweet.tweetText }}</div>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div  ng-repeat="pic in tweet.tweetPic">
                  <img class="tweet-pic" ng-src='{{pic}}'></img>
                </div>
                <div ng-repeat="vid in tweet.tweetVid">
                <video class="tweet-pic" ng-src="{{vid}}" controls>
                     
                </video>
              </div>
              </div>
              <br>
          <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" data-ng-click="replyTo(tweet.screenName)"><i class="fa fa-comment"></i> Reply</button> 
        </div>
        </div>
      <!-- End Middle Column -->
      </div>
      
      <!-- Right Column -->
      <div class="w3-col m2">
        <div class="w3-card-2 w3-round w3-white w3-center">
          <div class="w3-container">
            <p>friend</p>
            
          </div>
        </div>
        <br>
 
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
  <!-- End Page Container -->
  </div>
  <br>

  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    
  </footer>

