html.
  <div class="w3-container w3-content " style="max-width:1400px;margin-top:50px " data-ng-controller="FeedController"> 
  <br>   
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card-2 w3-round w3-white">
          <div class="w3-container">
           <h2  class="w3-center">{{ profile.name }}</h2>
           <p class="w3-center"><img ng-src="{{ profile.userpicture }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
           <h5  class="w3-center">@{{ profile.screenName }}</h5>
           <hr>
           <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{ profile.exp_position }}</p>
           <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>{{ profile.edulevel }}</p>
           <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme" ></i>{{ profile.bday | date:'mediumDate' }}</p>
           <hr>
           <p><i class="fa fa-info-circle fa-fw w3-margin-right w3-text-theme" data-ng-click="redirectToProfile()"></i>ดูข้อมูลส่วนตัวทั้งหมด</p><br>
          </div>
        </div>
        <br>
      

        <div class="w3-card-2 w3-round w3-white ">
          <div class="w3-container">
          <br>
            <div style="width:100%;" class="input-group add-on">
              <input ng-model="query" style="width:100%;" class="form-control" placeholder="ค้นหา" name="srch-term" id="srch-term" type="text">
              <div class="input-group-btn">
                <button class="btn btn-basic" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
            <br>
              <p>คำค้นหาที่แนะนำ</p>
              <p>
                <span data-ng-click="changekeyword('งาน')" class="w3-tag w3-small w3-theme-d5" >งาน</span>
                <span data-ng-click="changekeyword('สมัครงาน')" class="w3-tag w3-small w3-theme-d5">สมัครงาน</span>
                <span data-ng-click="changekeyword('ราชการ')" class="w3-tag w3-small w3-theme-d5">ราชการ</span>
                <span data-ng-click="changekeyword('สัมภาษณ์')" class="w3-tag w3-small w3-theme-d5">สัมภาษณ์</span>
                <span data-ng-click="changekeyword('บริษัท')" class="w3-tag w3-small w3-theme-d5">บริษัท</span>
                <span data-ng-click="changekeyword('อบรม')" class="w3-tag w3-small w3-theme-d5">อบรม</span>
                
              </p>
              <br>
          </div>
        </div>
        <br>
      <!-- End Left Column -->
      </div>
      
      <!-- Middle Column -->
      <div class="w3-col m7">
      
        <div class="w3-row-padding">
        <form name="myForm" class="form-horizontal" ng-submit="submit()">
          <div class="w3-col m12">
            <div class="w3-card-2 w3-round w3-white">
              <div class="w3-container w3-padding">

                <textarea class="form-control" style="height: 100px;" id="tweetText" type="text" placeholder="What's happening" data-ng-model="tweetText"></textarea>
          
                <div class="tweet-preview" ng-hide="files == null && video == null" >
                      <div class="img-wrap" ng-repeat="f in files" style="font:smaller">
                        <span class="close" ng-click="remove(f)" ng-show="f">&times;</span>
                        <img class="thumb" ngf-thumbnail="f || '/thumb.jpg'"></img>
                      </div>
                      <div ng-repeat="picFile in video" style="font:smaller">
                        <video ngf-thumbnail="picFile" class="thumb">
                      </div>
                </div>
                
                  <div style="padding-left:0px; padding-top:5px;" class="col-sm-12">
                   
                    <i class="fa fa-photo  w3-text-theme" type="file" class="camera"   ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="10MB" placeholder="เพิ่มรูปภาพ"> เพิ่มรูปภาพ</i>
                    <i class="fa fa-video-camera  w3-text-theme" class="camera"  src="img/video1.png" ngf-select="uploadVideo($files, $invalidFiles)" ng-model="picFile"  accept="video/*" ngf-max-height="1000" ngf-max-size="800MB"> เพิ่มวิดีโอ</i>
                  </div>
                  <br><br>
                  {{errorMsg}}
                <button style="float: right; background-color: #607d8b; " type="button" class="w3-button " data-ng-click="postTweet(tweetText, profile.name, profile.screenName, profile.userpicture)"><i class="fa fa-pencil"></i> โพสต์</button> 
              </div>
            </div>
          </div>
          
        </div>


        <div  data-ng-repeat="tweet in timeline | orderBy: '-tweetTime' | filter:query ">
          <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
            <img ng-src="{{ tweet.screenPicture }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height:80px">

            <h3><a href="#!/user.jade">{{ tweet.name }}</a></h3>
            <h5>@{{ tweet.screenName }}<h5>
            <hr class="w3-clear">
            <div class="tweet-text"><pre style="font-size:inherit; color:inherit; background-color:inherit;">{{ tweet.tweetText }}</pre></div>

              <div class="w3-row-padding" style="margin:0 -16px">
                <div  ng-repeat="pic in tweet.tweetPic">
                  <img class="tweet-pic" ng-src='{{pic}}'></img>
                </div>
                <div ng-repeat="vid in tweet.tweetVid">
                <video class="tweet-pic" ng-src="{{vid}}" controls> 
                </video>
              </div>
              </div>
              <br>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" data-ng-click="replyTo(tweet.screenName,tweet.tweetText)"><i class="fa fa-comment"></i> ตอบกลับ</button>
            <div data-ng-repeat="reply in reply" > 
              <div ng-show='reply.screenPicture != null && reply.text == tweet._id' class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                <img ng-src="{{reply.screenPicture }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height:80px">
                <h4><a href="user.jade">{{ reply.name }}</a></h4>
                <div class="tweet-text">{{ reply.tweetText }}</div>
                <br>
              </div>
            </div>
            </form>
          </div>
        </div>

        <div  data-ng-repeat="tweet in tweets | orderBy: '-tweetTime' | filter:query" data-ng-class="{'first-item' : $first}">
          <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
          <img ng-src="{{ tweet.screenPicture }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height:80px">

            <h3><a href="user.jade">{{ tweet.name }}</a></h3>
            <h5>@{{ tweet.screenName }}<h5>
            <hr class="w3-clear">
            <div class="tweet-text"><pre style="font-size:inherit; color:inherit; background-color:inherit;">{{ tweet.tweetText  }}</pre></div>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div  ng-repeat="pic in tweet.tweetPic">
                  <img class="tweet-pic" ng-src='{{pic}}'></img>
                </div>
                <div ng-repeat="vid in tweet.tweetVid">
                <video class="tweet-pic" ng-src="{{vid}}" controls>
                     
                </video>
              </div>
              </div>
              <br>
          <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" data-ng-click="replyTo(tweet.screenName,tweet._id)"><i class="fa fa-comment"></i> ตอบกลับ</button> 
          <div ng-show='tweet.reply[0].screenPicture != null' class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
            <img ng-src="{{ tweet.reply[0].screenPicture }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height:80px">

            <h4><a href="user.jade">{{ tweet.reply[0].name }}</a></h4>
            <div class="tweet-text">{{ tweet.reply[0].tweetText }}</div>
            <br>
          </div>
          <div data-ng-repeat="reply in reply" >
          <div ng-show='reply.screenPicture != null && reply.text == tweet._id ' class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
              <img ng-src="{{reply.screenPicture }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height:80px">
              <h4><a href="user.jade">{{ reply.name }}</a></h4>
              <div class="tweet-text">{{ reply.tweetText }}</div>
              <br>
          </div>
          </div>
        </div>
        </div>
      <!-- End Middle Column -->
      </div>
      
      <!-- Right Column -->
      <div class="w3-col m2">
        <div class="w3-card-2 w3-round w3-white w3-center">
          <div style="padding:0px;" class="w3-container">
            <h3><i class="fa fa-group"></i> ผู้สนทนา</h3>
            <hr>
            <div id="Demo1" class="w3-hide w3-animate-left w3-show">
                <a style="padding-left:0px; width:100%; max-width:219px;"  class="w3-bar-item w3-button w3-border-bottom  w3-hover-light-grey"  id="firstTab" data-ng-repeat="user in users" data-ng-click="redirectToChat(user.username,user.userpicture)" >
                  <div class="w3-container">
                    <img align="left" class="w3-round" ng-src="{{user.userpicture}}" style="max-height: 53.1px; width:30%;"><span class=" w3-large">{{user.username}}</span>
                    
                    
                  </div>
                </a>

            </div>
            
          </div>
        </div>
        <br>
 
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
  <!-- End Page Container -->
  </div>
  <br>

  <!-- Footer -->
 

