html.
	<div style="background-color:#607d8b; color:white;" class="modal-header">
	  <h4 id="replyModalLabel" class="modal-title">ตอบกลับ</h4>
	</div>
	<div style="background-color:white;" class="modal-body">
	  <form>
	    <div class="text-area-wrapper">
	      <textarea class="form-control" style="height: 100px;" rows="4" cols="52" data-ng-model="tweetText" ></textarea>
	    </div>
	    <div class="text-right">
	      <input type="submit" value="ตอบกลับ" data-ng-click="reply()" class="w3-button w3-theme"/>
	      <input type="button" value="ปิด" data-ng-click="close()" class="w3-button w3-theme"/>
	    </div>
	  </form>
	</div>