html.
	<br>
	<div class="w3-content " style="max-width:1400px; margin-top:50px;" data-ng-controller="SettingsController">
	<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
	  <!-- The Grid -->
	  <div class="w3-row-padding">
	  
	    <!-- Left Column -->
	    <div class="w3-col m3">
	        <!-- Profile -->
	        <div class="w3-card-2 w3-round w3-white">
	          <div class="w3-container">
	           <h2  class="w3-center">{{ user.displayName }}</h2>
	           <p class="w3-center"><img ng-src="{{ user.userpicture }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
	           <h5  class="w3-center">@{{ user.username }}</h5>
	           <hr>
	           <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="email">อีเมล์</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="email">
				</div></p>
	           	<p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="birthday">วันเกิด</label>
					<input type="text" id="birthday" name="birthday" class="form-control"  data-ng-model="bday" placeholder="birthday">
				</div></p>
	           <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="tel">เบอร์โทร</label>
					<input type="text" id="tel" name="tel" class="form-control" data-ng-model="user.tel" placeholder="tel">
				</div></p>
	           <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="address">ที่อยู่</label>
					<input type="text" id="address" name="address" class="form-control" data-ng-model="user.address" placeholder="address">
				</div></p>
	           <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="typeofwork">ประเภทงานที่สนใจ</label>
					<input type="text" id="typeofwork" name="typeofwork" class="form-control" data-ng-model="user.typeofwork" placeholder="typeofwork">
				</div></p>
	           <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="positionofwork">ตำแหน่งงานที่สนใจ</label>
					<input type="text" id="positionofwork" name="positionofwork" class="form-control" data-ng-model="user.positionofwork" placeholder="positionofwork">
				</div></p>
	           <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="provinceprefer">จังหวัดที่ต้องการทำงาน</label>
					<input type="text" id="provinceprefer" name="provinceprefer" class="form-control" data-ng-model="user.provinceprefer" placeholder="provinceprefer">
				</div></p>
	           <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="salaryprefer_min">เงินเดือนที่คาดหวัง</label>
					<input type="text" id="salaryprefer_min" name="salaryprefer_min" class="form-control" data-ng-model="user.salaryprefer_min" placeholder="salaryprefer_min"> ถึง
					<input type="text" id="salaryprefer_max" name="salaryprefer_max" class="form-control" data-ng-model="user.salaryprefer_max" placeholder="salaryprefer_max">
				</div></p>
	           <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="distype">ประเภทความพิการ</label>
					<input type="text" id="distype" name="distype" class="form-control" data-ng-model="user.distype" placeholder="distype">
				</div></p>
	           <br>
	          </div>
	        </div>
	        <br>
	      
	        <br>
	      <!-- End Left Column -->
	      </div>

	    <!-- Right Column -->
	    <div class="w3-twothird">
	    
	      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
	        <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>ประสบการณ์การทำงาน</h2>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="exp_position">ตำแหน่งที่เคยทำงาน</label>
					<input type="text" id="exp_position" name="exp_position" class="form-control" data-ng-model="user.exp_position" placeholder="exp_position">
					<label for="exp_company">องค์กร/บริษัทที่เคยทำงาน</label>
					<input type="text" id="exp_company" name="exp_company" class="form-control" data-ng-model="user.exp_company" placeholder="exp_company">
				</div></h5>
	          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<label for="exp_start">เริ่มงาน</label>
					<input type="text" id="exp_start" name="exp_start" class="form-control" data-ng-model="exp_start" placeholder="exp_start">
					<label for="exp_end">สิ้นสุดงาน</label>
					<input type="text" id="exp_end" name="exp_end" class="form-control" data-ng-model="exp_end" placeholder="exp_end">
				</div></p></h6>
	          
	          <hr>
	        </div>
	      </div>

	      <div class="w3-container w3-card-2 w3-white">
	        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>การศึกษา</h2>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ระดับการศึกษา</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="edulevel" name="edulevel" class="form-control" data-ng-model="user.edulevel" placeholder="edulevel">
				</div></p>
	          <hr>
	        </div>

	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ประเทศที่จบ</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="educountry" name="educountry" class="form-control" data-ng-model="user.educountry" placeholder="educountry">
				</div></p>
	          <hr>
	        </div>

	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>สถาบันการศึกษา</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="eduinstitute" name="eduinstitute" class="form-control" data-ng-model="user.eduinstitute" placeholder="eduinstitute">
				</div></p>
	          <hr>
	        </div>

	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>คณะ</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="edufaculty" name="edufaculty" class="form-control" data-ng-model="user.edufaculty" placeholder="edufaculty">
				</div></p>
			<h5 class="w3-opacity"><b>สาขา</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="edumajor" name="edumajor" class="form-control" data-ng-model="user.edumajor" placeholder="edumajor">
				</div></p>
	          <hr>
	        </div>

	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ปีพ.ศ.ที่จบการศึกษา</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="eduyeargrad" name="eduyeargrad" class="form-control" data-ng-model="user.eduyeargrad" placeholder="eduyeargrad">
				</div></p>
	          <hr>
	        </div>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>คะแนนเฉลี่ย (GPA)</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="edugpa" name="edugpa" class="form-control" data-ng-model="user.edugpa" placeholder="edugpa">
				</div></p>
	          <hr>
	        </div>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>รางวัล/ความสำเร็จ/เกียรตินิยม</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="eduprize" name="eduprize" class="form-control" data-ng-model="user.eduprize" placeholder="eduprize">
				</div></p>
	          <hr>
	        </div>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ทักษะทางด้านภาษา</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="edulang" name="edulang" class="form-control" data-ng-model="user.edulang" placeholder="edulang">
				</div></p>
	          <hr>
	        </div>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ทักษะอื่นๆ</b></h5>
	          <p><div style="margin-left:0px; margin-right: 15px;" class="form-group ">
					<input type="text" id="edutalent" name="edutalent" class="form-control" data-ng-model="user.edutalent" placeholder="edutalent">
				</div></p>
	          <hr>
	        </div>
			<div class="text-center form-group">
				<button type="submit" class="btn btn-large btn-primary">บันทึกข้อมูล</button>
			</div>
			<div data-ng-show="success" class="text-center text-success">
				<strong>บันทึกสำเร็จ</strong>
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
	      </div>

	    <!-- End Right Column -->
	    </div>
	    
	  <!-- End Grid -->
	  </div>
	 </form>
	  <!-- End Page Container -->
	</div>