html.
	<br>
	<div class="w3-content " style="max-width:1400px; margin-top:50px;" data-ng-controller="SettingsController">

	  <!-- The Grid -->
	  <div class="w3-row-padding">
	  
	    <!-- Left Column -->
	    <div class="w3-col m3">
	        <!-- Profile -->
	        <div class="w3-card-2 w3-round w3-white">
	          <div class="w3-container">
	           <h2  class="w3-center">{{ user.displayName }}</h2>
	           <p class="w3-center"><img ng-src="{{ user.userpicture }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
	           <h5  class="w3-center">@{{ user.username }}</h5>
	           <hr>
	           <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>{{user.email}}</p>
	           <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>วันเกิด {{user.bday |date:'mediumDate'}}</p>
	           <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme" ></i>{{user.tel}}</p>
	           <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" ></i>{{user.address}}</p>
	           <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-text-theme" ></i>สนใจใน{{user.typeofwork}}</p>
	           <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme" ></i>สนใจด้าน{{user.positionofwork}}</p>
	           <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" ></i>สามารถทำงานที่{{user.provinceprefer}}</p>
	           <p><i class="fa fa-money fa-fw w3-margin-right w3-text-theme" ></i>เงินเดือนที่คาดหวัง {{user.salaryprefer_min}}-{{user.salaryprefer_max}}</p>
	           <p><i class="fa fa-hand-o-right fa-fw w3-margin-right w3-text-theme" ></i>{{user.distype}}</p>
	           <br>
	          </div>
	        </div>
	        <br>
	      
	        <br>
	      <!-- End Left Column -->
	      </div>

	    <!-- Right Column -->
	    <div class="w3-twothird">
	    
	      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
	        <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>ประสบการณ์การทำงาน</h2>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>{{user.exp_position}} / {{user.exp_company}}</b></h5>
	          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> {{user.exp_start |date:'mediumDate'}} - {{user.exp_end |date:'mediumDate'}}</h6>
	          
	          <hr>
	        </div>
	      </div>

	      <div class="w3-container w3-card-2 w3-white">
	        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>การศึกษา</h2>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ระดับการศึกษา</b></h5>
	          <p>{{user.edulevel}}</p>
	          <hr>
	        </div>

	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ประเทศที่จบ</b></h5>
	          <p>{{user.educountry}}</p>
	          <hr>
	        </div>

	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>สถาบันการศึกษา</b></h5>
	          <p>{{user.eduinstitute}}</p>
	          <hr>
	        </div>

	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>คณะ</b></h5>
	          <p>{{user.edufaculty}}</p>
	          <p>{{user.edumajor}}</p>
	          <hr>
	        </div>

	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ปีพ.ศ.ที่จบการศึกษา</b></h5>
	          <p>{{user.eduyeargrad}}</p>
	          <hr>
	        </div>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>คะแนนเฉลี่ย (GPA)</b></h5>
	          <p>{{user.edugpa}}</p>
	          <hr>
	        </div>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>รางวัล/ความสำเร็จ/เกียรตินิยม</b></h5>
	          <p>{{user.eduprize}}</p>
	          <hr>
	        </div>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ทักษะทางด้านภาษา</b></h5>
	          <p>{{user.edulang}}</p>
	          <hr>
	        </div>
	        <div class="w3-container">
	          <h5 class="w3-opacity"><b>ทักษะอื่นๆ</b></h5>
	          <p>{{user.edutalent}}</p>
	          <hr>
	        </div>
	        <button style="margin-left: 65%;"  data-ng-click='redirectToFeed()' class="btn btn-primary " type="submit">กลับหน้าเมนูหลัก
	        </button>
	        <button  data-ng-click='redirectToEdit()' class="btn btn-primary " type="submit">แก้ไขข้อมูลทั้งหมด</button>
	      </div>

	    <!-- End Right Column -->
	    </div>
	    
	  <!-- End Grid -->
	  </div>
	  
	  <!-- End Page Container -->
	</div>